<!DOCTYPE html>
<body>
    <br />
    <div>
        <form action="/randomnum" method="Get">
            <button>@ViewBag.RandomNumButton</button>
        </form>
        <p>
            @ViewBag.RandomNumInfo
        </p>
    </div>
    <br />
    <div>
        <form action="/fortunetel" method="Get">
            <button>@ViewBag.FortuneTelButton</button>
        </form>
        <p>
            @ViewBag.FortuneTelInfo
        </p>
    </div>
    <br />
    <div>
        <form action="/coinfli" method="Get">
            <button>@ViewBag.CoinFliButton</button>
        </form>
        <p>
            @ViewBag.CoinFliInfo
        </p>
    </div>
</body>
